<div class='fb-edit-section-header'>Text Options</div>
<label>Align</label>
<select style="width: 100%;" data-rv-value="model.<%= Formbuilder.options.mappings.ALIGN %>">
  <option value="left">Left</option>
  <option value="center">Center</option>
  <option value="right">Right</option>
  <option value="justify">Justify</option>
</select>

<label>Font Style</label>
<select style="width: 100%;" data-rv-value="model.<%= Formbuilder.options.mappings.FONTSTYLE %>">
  <option value="font-style:normal;">Normal</option>
  <option value="font-weight:bold;">Bold</option>
  <option value="font-style:italic;">Italic</option>
  <option value="font-style:italic;font-weight:bold;">Bold &amp; Italic</option>
</select>