<div class='fb-edit-section-header'>Field Options</div>

<% if (typeof includeLabel !== 'undefined'){ %>
  <div style="padding-bottom: 10px;">
    <span style="width: 48%; display: inline-block;">
      <label>
        <input type='checkbox' checked="checked" data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_LABEL %>' />
        Show Label
      </label>
    </span>
    <% if (typeof includeRowCount !== 'undefined'){ %>
    <span style="width: 48%; text-align: right; display: inline-block;">
      <label>
        Rows
        <input type='input' class='option-label-input' data-rv-input='model.<%= Formbuilder.options.mappings.ROW_COUNT %>' style="width: 50px;" />
      </label>
    </span>
    <% } %>
  </div>
<% } %>

<div style="border-bottom: 1px solid #444; padding-bottom: 5px; margin-bottom: 10px; text-align: right;" class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <input type="text" data-rv-input="option:label" class='option-label-input' placeholder="Label" style="width: 225px;" />
  <input type="text" data-rv-input="option:spanwidth" class='option-label-input' placeholder="px/%"  style="width: 50px;"/>

  <select style="width: 100%;" data-rv-value="option:autofill">
    <option value="">Select AUTOFILL</option>
    <option value="">NONE</option>
    <option value="AUTO_FILL_JOB_ID">JOB_ID</option>
    <option value="AUTO_FILL_ASSIGNED_TO">ASSIGNED_TO</option>
    <option value="AUTO_FILL_CONSIGNEE">CONSIGNEE</option>
    <option value="AUTO_FILL_DELIVER_TO">DELIVER_TO</option>
    <option value="AUTO_FILL_ADDRESS">ADDRESS</option>
    <option value="AUTO_FILL_ADDRESS_1">ADDRESS_1</option>
    <option value="AUTO_FILL_ADDRESS_2">ADDRESS_2</option>
    <option value="AUTO_FILL_POSTAL_CODE">POSTAL_CODE</option>
    <option value="AUTO_FILL_PHONE">PHONE</option>
    <option value="AUTO_FILL_CONTACT_PERSON">CONTACT_PERSON</option>
    <option value="AUTO_FILL_EMAIL">EMAIL</option>
  </select>

  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Add Option"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Remove Option"><i class='fa fa-minus-circle'></i></a>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Include "other"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Add Field</a>
</div>
