<div class='fb-edit-section-header'>Field Options</div>

<% if (typeof includeLabel !== 'undefined'){ %>
  <div>
    <label>
      <input type='checkbox' checked="checked" data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_LABEL %>' />
      Show Label
    </label>
  </div>
<% } %>

<% if (typeof includeRowCount !== 'undefined'){ %>
<div class='option'>
  <label>
    <input type='input' class='option-label-input' data-rv-input='model.<%= Formbuilder.options.mappings.INCLUDE_ROWCOUNT %>' />
    Rows
  </label>
</div>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <input type="text" data-rv-input="option:label" class='option-label-input' placeholder="Label" />
  <input type="text" data-rv-input="option:spanwidth" class='option-label-input' placeholder="px/%"  style="width: 50px;"/>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Add Option"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Remove Option"><i class='fa fa-minus-circle'></i></a>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Include "other"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Add Field</a>
</div>
